<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form class="form-horizontal">
        <h1> You have been successfully logged out {{ name }}</h1>
    <form>
</body>
</html>